<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="PostSharp" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Threading" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.10.5" targetFramework="net472" />
</packages>